### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [22]:
#store total count of unique players in variable
TotalPlayers = len(purchase_data_df["SN"].value_counts())
TotalPlayers

#add total player count to the table so we can manipulate it
purchase_data_df["Total Players"] = TotalPlayers
#purchase_data_df

purchase_data_df[["Total Players"]].head(1)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#stores the number of unique items as a variable
Num_Unique_Items = len(purchase_data_df["Item Name"].unique())
#stores the average price of items as a variable
Average_Item_Price = round((purchase_data_df["Price"].mean()),2)
#stores the number of purchases as a variable
Num_Purchases = len(purchase_data_df['Purchase ID'].unique())
#stores the sum of purchases as a variable
Total_Revenue = purchase_data_df['Price'].sum()

#creates a new summary dataframe that includes the calculations we did above: Number of Unique Items,Average Price, Number of Purchases, and Total Revenue
purchasing_data_dict = [{"Number of Unique Items": Num_Unique_Items, "Average Price": Average_Item_Price, "Number of Purchases": Num_Purchases, "Total Revenue": Total_Revenue}]
purchasing_analysis_df = pd.DataFrame(purchasing_data_dict)

#formatting:
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [42]:
#drop any duplicate SNs so we can get a unique count of players by gender and store in its own dataframe
non_dup_df = purchase_data_df.drop_duplicates("SN")

#group by gender
grouped_gender = non_dup_df.groupby(['Gender'])  #this is a groupby object

#create a variable to store the count of screen names (so unique players) from the grouped gender data
grouped_gender_count = grouped_gender['SN'].count()

#create a variable to calculate and store percentages
gender_perc = (grouped_gender_count/TotalPlayers) * 100

#create new data frame with grouped info and calculations
gender_df = pd.DataFrame({"Total Count": grouped_gender_count, "Percentage of Players": gender_perc})

#formatting:
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2f}%".format)

#sort by descending total count-------------NOT WORKING----------#
gender_df.sort_values("Total Count", ascending = False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
#groupby gender using original dataframe
grouped_gender_analysis = purchase_data_df.groupby(['Gender'])

#create variable to store the count of purchases from the grouped gender data
purchase_count = grouped_gender_analysis['Item ID'].count()

#calculate total purchase price and average purchase price
total_price = grouped_gender_analysis['Price'].sum()
average_price = total_price/purchase_count

#calculate average total purchase per person (so per unique SN)
average_total_per_person = total_price/grouped_gender_count


#create new data frame with grouped info and calculations
gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_price, "Total Purchase Price": total_price, "Average Total Purchase per Person":average_total_per_person})

#formatting:
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:,.2f}".format)
gender_analysis_df["Total Purchase Price"] = gender_analysis_df["Total Purchase Price"].map("${:,.2f}".format)
gender_analysis_df["Average Total Purchase per Person"] = gender_analysis_df["Average Total Purchase per Person"].map("${:,.2f}".format)

gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
#create bins and bin labels for the age column
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#append age bins to the non dupe DF we created earlier to store just unique SNs
non_dup_df["Age Ranges"] = pd.cut(non_dup_df["Age"], age_bins, labels = age_labels)

#group by age bin
grouped_age_dem_df = non_dup_df.groupby("Age Ranges")

#grouped_age_dem_df[["SN"]].count()  #for testing

#create a variable to store the count of players from the grouped age data
total_count = grouped_age_dem_df['SN'].count()

#calculate percentage of players and store in variable. TotalPlayers is a variable we created earlier to store total num of players
player_perc = (total_count/TotalPlayers)*100


#create new data frame with grouped info and calculations
age_df = pd.DataFrame({"Total Count": total_count, "Percentage of Players": player_perc})
age_df

#formatting:
age_df["Percentage of Players"] = age_df["Percentage of Players"].map("{:,.2f}%".format)

age_df

C:\Users\arrrl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#create bins and bin labels for the age column
age_bins = [0,9,14,19,24,29,34,39,100]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#append age bins to the non dupe DF we created earlier to store just unique SNs
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], age_bins, labels = age_labels)

#group by age bin
grouped_age_purch_df = purchase_data_df.groupby("Age Ranges")

#create a variable to store the purchase count 
purchase_count = grouped_age_purch_df['SN'].count()

#create a variable to store sum of all purchases
sum_purchase = grouped_age_purch_df['Price'].sum()

#create a variable to store average purchase price: sum of purchase price divided by count of purchases
avg_purch_price = sum_purchase/purchase_count

#create a variable to store average total purchase per person. referenced grouped_age_dem dataframe that counts unique SN's
avg_purch_per_person = sum_purchase/grouped_age_dem_df['SN'].count()

#create new data frame with grouped info and calculations
age_df = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price": avg_purch_price, "Total Purchase Value":sum_purchase, "Avg Total Purchase per Person": avg_purch_per_person})

#formatting:
age_df["Average Purchase Price"] = age_df["Average Purchase Price"].map("${:,.2f}".format)
age_df["Total Purchase Value"] = age_df["Total Purchase Value"].map("${:,.2f}".format)
age_df["Avg Total Purchase per Person"] = age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
#group by SN
grouped_SN_df = purchase_data_df.groupby(['SN'])
#grouped_SN.count()

#create a variable to store the count of purchases by SN
purchase_count = grouped_SN_df['Purchase ID'].count()

#create a variable to store total purchase value
total_purchase = grouped_SN_df['Price'].sum()

#create a variable to store average purchase price per person
avg_purch_price = total_purchase/purchase_count

#create a new dataframe with columns and calculations from above
top_spenders_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_purch_price, "Total Purchase Value": total_purchase})

#formatting:
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
#top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

#sort by descending total purchase value
top_spenders_df.sort_values("Total Purchase Value", ascending = False)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10
...                     ...                    ...                   ...
Ililsasya43               1                  $1.02                  1.02
Irilis75                  1                  $1.02                  1.02
Aidai61                   1                  $1.01                  1.01
Chanirra79                1                  $1.01                  1.01
Alo38                     1                  $1.00                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [66]:
#group by Items Id then Item Name
grouped_items_df = purchase_data_df.groupby(['Item ID', 'Item Name'])

#create variable to store count of items purchased
purchase_count = grouped_items_df['Purchase ID'].count()

#create variable to store total purchase price for each item
total_purchase_price = grouped_items_df['Price'].sum()

#create variable to store average price per item since some items have more than one price
item_price = grouped_items_df['Price'].sum()/grouped_items_df['Price'].count()

#create the dataframe and include columns and calculations above
most_popular_items_df = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price, "Total Purchase Price": total_purchase_price})

#formatting:
most_popular_items_df["Item Price"] = most_popular_items_df["Item Price"].map("${:,.2f}".format)
most_popular_items_df["Total Purchase Price"] = most_popular_items_df["Total Purchase Price"].map("${:,.2f}".format)

#sort by descending purchase count
most_popular_items_df.sort_values("Purchase Count", ascending = False)
#most_popular_items_df.dtypes  #so my total purchase price is an object

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [59]:
#sort by descending purchase count
most_popular_items_df.sort_values("Total Purchase Price", ascending=False).head(50)
#most_popular_items_df.dtypes  #so my total purchase price is an object

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
18,"Torchlight, Bond of Storms",2,$4.65,$9.30
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
166,Thirsty Iron Reaver,3,$3.07,$9.21
123,Twilight's Carver,4,$2.28,$9.12
49,"The Oculus, Token of Lost Worlds",3,$2.96,$8.88
156,Soul-Forged Steel Shortsword,5,$1.77,$8.85
161,Devine,5,$1.76,$8.80
149,"Tranquility, Razor of Black Magic",5,$1.75,$8.75
107,"Splitter, Foe Of Subtlety",4,$2.18,$8.72
169,"Interrogator, Blood Blade of the Queen",4,$2.18,$8.72
122,Unending Tyranny,3,$2.85,$8.55
4,Bloodlord's Fetish,5,$1.70,$8.50
181,Reaper's Toll,5,$1.66,$8.30
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
142,Righteous Might,3,$2.62,$7.86
127,"Heartseeker, Reaver of Souls",2,$3.92,$7.84
30,Stormcaller,3,$2.59,$7.78
97,"Swan Song, Gouger Of Terror",3,$2.50,$7.50
6,Rusty Skull,2,$3.70,$7.40
81,Dreamkiss,2,$3.61,$7.22
131,Fury,5,$1.44,$7.20
10,Sleepwalker,4,$1.79,$7.16
43,Foul Edge,2,$3.54,$7.08
152,Darkheart,4,$1.74,$6.96
99,"Expiration, Warscythe Of Lost Worlds",4,$1.71,$6.84
55,Vindictive Glass Edge,3,$2.27,$6.81
86,Stormfury Lantern,3,$2.27,$6.81
17,"Lazarus, Terror of the Earth",4,$1.70,$6.80
46,Hopeless Ebon Dualblade,5,$1.33,$6.65
121,Massacre,4,$1.60,$6.40
130,Alpha,3,$2.07,$6.21
12,Dawne,6,$1.02,$6.12
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
56,Foul Titanium Battle Axe,2,$2.92,$5.84
32,Orenmir,5,$1.14,$5.70
176,Relentless Iron Skewer,2,$2.84,$5.68
13,Serenity,4,$1.41,$5.64
62,Piece Maker,3,$1.87,$5.61
21,Souleater,5,$1.10,$5.50
171,Scalpel,3,$1.79,$5.37
14,Possessed Core,2,$2.61,$5.22
124,Venom Claymore,4,$1.29,$5.16
0,Splinter,4,$1.28,$5.12